body {
    background-image: url('World_Cancer_Day.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h3,
h5,
strong {
    color: indigo;
}

h5 {
    padding: 10px;
}

a {
    color: brown;
}

img {
    height: 50px;
    width: 60px;
}

.nav {
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 60px;
}

.content {
    text-align: center;
    padding: 25px;
}

.size {
    font-size: 20px;
    font-weight: 500;
}

.link {
    font-size: 35px;
    margin: 100px;
    text-decoration: none;
}